.root {
    font-family: Verdana, sans-serif;
    font-size: 12px;
    margin: 0;

    & h2 {
        font-family: "Times New Roman", serif;
        font-size: 24px;
        margin-top: 0;
        color: #ffffff;
    }

    & a {
        text-decoration: underline;
    }

    & a:hover {
        text-decoration: none;
    }
}

/* --------------------------------------------- Header */
.header {
    height: 134px;

    & .navigationContainer {
        background-color: #ececec;
    }

    & .informationContainer {
        background-color: #218fbb;
    }

    & .information {
        width: 1012px;
        height: 107px;
        margin: 0 auto;
        position: relative;
    }

    & .navigationOne {
        padding-top: 5px;
        position: relative;
        width: 1012px;
        height: 27px;
        margin: 0 auto;
    }

    & .navigationOne a {
        margin-right: 14px;
        color: #676767;
    }

    & .navigationOne a:last-child {
        position: absolute;
        right: -16px;
    }

    & .logo .img {
        padding-left: 10px;
        display: inline-block;
        margin-top: 4px;
        width: 310px;
        height: 26px;
        background-image: url("./images/3.png");
    }

    & .moduleNews {
        border: 2px solid #ffffff;
        border-radius: 5px;
        background-color: #1f6987;
        padding: 4px 3px;
        position: absolute;
        left: 320px;
        top: 23px;
    }

    & .moduleNews::after {
        content: "";
        clear: both;
        display: block;
    }

    & .moduleNews .previous {
        display: inline-block;
        border: none;
        background-color: #1f6987;
    }

    & .news {
        color: #ffffff;
        margin-left: 5px;
    }

    & .moduleNews .next {
        border: none;
        float: right;
        display: inline-block;
        background-color: #1f6987;
    }

    & .moduleNews .previous::after,
    & .moduleNews .next::after {
        content: "";
        width: 0;
        height: 0;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        display: block;
    }

    & .moduleNews .previous::after {
        border-right: 6px solid #ffffff;
    }

    & .moduleNews .next::after {
        border-left: 6px solid #ffffff;
    }

    & .enter {
        background-image: url("./images/1.png");
        width: 100px;
        right: 190px;
        color: #ffffff;
        padding: 10px 10px 10px 48px;
    }

    & .registration {
        background-image: url("./images/2.png");
        width: 166px;
        right: 10px;
        padding: 10px 10px 10px 60px;
        background-size: 166px 36px;
        background-repeat: no-repeat;
    }

    & .enter,
    & .registration {
        font-weight: bold;
        color: #ffffff;
        position: absolute;
        height: 36px;
        top: 19px;
    }

    & .navigationTwo {
        position: absolute;
        bottom: 0;
    }

    & .navigationTwo a {
        width: 128px;
        height: 31px;
        background-color: #0b6588;
        display: inline-block;
        text-align: center;
        font-weight: bold;
        color: #ffffff;
        text-decoration: none;
        border-radius: 6px 6px 0 0;
        line-height: 30px;
        margin-right: 5px;
    }

    & .navigationTwo .active {
        background-color: #043a4f;
    }

    & .navigationTwo a:nth-child(6) {
        width: 143px;
        background-color: #89c160;
    }

    & .navigationTwo a:last-child {
        width: 93px;
        background-color: #74b8d2;
        margin-left: 58px;
    }
}
/* --------------------------------------------- Main */
.main {
    width: 1012px;
    margin: 0 auto;
    background-color: #043a4f;
    border-radius: 0 0 5px 5px;
    padding: 6px;

    & .moduleBanner {
        min-height: 199px;
        background-color: #1f617a;
        border-radius: 5px;
        padding: 10px 130px 0 45px;
        color: #ffffff;
        position: relative;
        margin-bottom: 6px;
    }

    & .bannerText {
        display: none;
    }

    & .bannerText.active {
        display: block;
    }

    & .moduleBanner p {
        font-size: 12px;
    }

    & .moduleBanner .toggle {
        width: 28px;
        height: 23px;
        background-color: #1f617a;
        padding: 6px;
        border-radius: 4px 4px 0 0;
        position: absolute;
        top: -19px;
        right: 0;
        border: none;
    }

    & .moduleBanner .toggle::after {
        content: "";
        width: 0;
        height: 0;
        border: 7px solid transparent;
        border-top-color: #ffffff;
        border-bottom: 0;
        display: inline-block;
    }

    & .moduleBanner .pagination {
        position: absolute;
        top: 10px;
        right: 135px;
    }

    & .moduleBanner .pagination button {
        width: 25px;
        height: 25px;
        background-color: #218fbb;
        border-radius: 5px;
        margin-left: 2px;
        padding: 4px;
        color: #ffffff;
        font-weight: bold;
        font-size: 14px;
        border: none;
        font-family: "Verdana", serif;
    }

    & .moduleBanner .pagination button:hover {
        cursor: pointer;
        background-color: #2fbaf1;
    }

    & .moduleBanner .pagination .active {
        background-color: #2fbaf1;
    }

    & .moduleBanner .previous,
    & .moduleBanner .next {
        width: 25px;
        height: 25px;
        background-color: #218fbb;
        padding: 3px;
        border-radius: 5px;
        border: none;
    }

    & .moduleBanner .previous {
        position: absolute;
        bottom: 9px;
        left: 7px;
    }

    & .moduleBanner .next {
        position: absolute;
        bottom: 9px;
        right: 9px;
        padding-left: 7px;
    }

    & .moduleBanner .previous::after,
    & .moduleBanner .next::after {
        content: "";
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        display: block;
    }

    & .moduleBanner .previous::after {
        border-right: 15px solid #ffffff;
    }

    & .moduleBanner .next::after {
        border-left: 15px solid #ffffff;
    }

    & .moduleSheet {
        min-height: 510px;
        background-color: #ffffff;
        border-radius: 5px;
    }
}

/* --------------------------------------------- Footer */
.footer {
    padding: 25px;
    font-family: Tahoma, sans-serif;
    width: 1012px;
    margin: 0 auto;

    & a {
        color: #676767;
        margin-right: 36px;
    }

    & a:last-child {
        float: right;
        margin-right: 0;
    }

    & ::after {
        content: "";
        clear: both;
        display: block;
    }
}
