body {
    padding: 20px;
}

h2 {
    color: tomato;
    text-align: center;
    font-size: 32px;
}

/*--------------------1 @font-face--------------------*/
@font-face {
    font-family: "lancaster";
    src: url("../fonts/7fonts.ru_Lancastershire.ttf");
}

.task-one p {
    font-size: 26px;
}

.task-one .changed {
    font-family: 'lancaster', serif;
}

.buttons,
.lines,
.animation {
    margin-bottom: 50px;
}

/*--------------------2 transition--------------------*/
.task-two .buttons button {
    width: 100px;
    padding: 20px;
    margin-right: 50px;
    background-color: #bde3aa;
    border-radius: 5px;
    transition: all 2s;
}

.task-two .buttons button,
.task-two .lines .line,
.task-two .cube {
    cursor: pointer;
}

.task-two .buttons .button-one:hover {
    background-color: #98c5f6;
}

.task-two .buttons .button-two:hover {
    width: 150px;
}

.task-two .buttons .button-three:hover {
    transform: scale(1.5, 2);
}

.task-two .lines .line {
    width: 40px;
    height: 20px;
    margin-bottom: 15px;
}

.task-two .lines .linear {
    transition: width 3s linear;
    background-color: #5a973e;
}

.task-two .lines .linear:hover {
    width: 100%;
}

.task-two .lines .ease-in {
    transition: width 3s ease-in;
    background-color: #793e97;
}

.task-two .lines .ease-in:hover {
    width: 100%;
}

.task-two .lines .steps {
    transition: width 3s steps(5);
    background-color: #f0264d;
}

.task-two .lines .steps:hover {
    width: 100%;
}

.task-two .lines .cubic-bezier {
    transition: width 3s cubic-bezier(0.1, 0.7, 1.0, 0.1);
    background-color: #97473e;
}

.task-two .lines .cubic-bezier:hover {
    width: 100%;
}

.task-two .cube {
    width: 100px;
    height: 100px;
    margin-left: 75%;
    background-color: #4d58b9;
    transition: all 3s;
}

.task-two .cube:hover {
    background-color: #8f3591;
    transform: rotate(180deg) scale(2);
}

/*--------------------3 animation--------------------*/
.animation-one {
    height: 300px;
    position: relative;
}

.task-three .cube {
    border-radius: 10px;
    width: 200px;
    height: 100px;
    background-color: #ff7a59;
    animation-name: pulse;
    animation-iteration-count: infinite; /*Повтор анимации*/
    animation-timing-function: linear; /*Набор разных ф-ций*/
    animation-duration: 2s; /*Длительность анимации*/
    animation-direction: alternate;
    position: relative;
    margin: 0 auto;
    top: 0;
}

@keyframes pulse {
    100% {
        width: 50px;
        top: 100px;
        background-color: #33475b;
    }
}

.animation-two {
    padding-left: 50%;
    height: 100px;
}

.task-three .animation-two .circle {
    width: 10px;
    height: 10px;
    background-color: grey;
    border-radius: 100%;
    display: inline-block;
    margin: 5px;
}

.task-three .animation-two .circle-one {
    animation: loading 0.6s ease-in-out infinite alternate;
}

.task-three .animation-two .circle-two {
    animation: loading 0.6s ease-in-out infinite alternate 0.2s;
}

.task-three .animation-two .circle-three {
    animation: loading 0.6s ease-in-out infinite alternate 0.4s;
}

@keyframes loading {
    100% {
        transform: scale(2);
    }
}

.task-three .animation-three {
    height: 500px;
    position: relative;
}

.animation-three .bar {
    height: 500px;
    opacity: 1;
    width: 0;
    position: absolute;
    top: 0;
    animation-name: columns;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.animation-three .bar:nth-child(1) { left: calc(14.2%*0); }
.animation-three .bar:nth-child(2) { left: calc(14.2%*1); }
.animation-three .bar:nth-child(3) { left: calc(14.2%*2); }
.animation-three .bar:nth-child(4) { left: calc(14.2%*3); }
.animation-three .bar:nth-child(5) { left: calc(14.2%*4); }
.animation-three .bar:nth-child(6) { left: calc(14.2%*5); }
.animation-three .bar:nth-child(7) { left: calc(14.2%*6); }

@keyframes columns {
    70% {
        opacity: 1;
        width: 14.2%;
    }

    100% {
        opacity: 0;
        width: 14.2%;
    }
}

.animation-four {
    background: #e9e9e9;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animation-four .touchpad {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    background: #ffffff;
    box-shadow: inset 5px 5px 5px #c1c0c0, inset -5px -5px 5px #ffffff, 0 0 0 #c1c0c0, 0 0 0 #ffffff;
    animation: touchpad 6s cubic-bezier(0.1, 0.7, 0.5, 1) infinite;
}

@keyframes touchpad {
    0% {
        width: 50px;
        height: 50px;
        box-shadow: inset 5px 5px 5px #c1c0c0, inset -5px -5px 5px #ffffff, 0 0 0 #c1c0c0, 0 0 0 #ffffff;
    }

    25% {
        width: 50px;
        height: 250px;
        box-shadow: 5px 5px 5px #c1c0c0, 5px 5px 5px #ffffff, 0 0 0 #c1c0c0, 0 0 0 #ffffff;
    }

    50% {
        width: 500px;
        height: 250px;
        box-shadow: 5px 5px 5px #c1c0c0, 5px 5px 5px #ffffff, 0 0 0 #c1c0c0, 0 0 0 #ffffff;
    }

    75% {
        width: 50px;
        height: 250px;
        box-shadow: 5px 5px 5px #c1c0c0, 5px 5px 5px #ffffff, 0 0 0 #c1c0c0, 0 0 0 #ffffff;
    }

    100% {
        width: 50px;
        height: 50px;
        box-shadow: inset 5px 5px 5px #c1c0c0, inset -5px -5px 5px #ffffff, 0 0 0 #c1c0c0, 0 0 0 #ffffff;
    }
}

.animation-five .heart {
    width: 200px;
    height: 200px;
    background: url("../images/heart.jpg") center no-repeat;
    animation-name: heart;
    animation-duration: 1s;
    background-size: 200%;
    animation-iteration-count: infinite;
}

@keyframes heart {
    0% {
        background-size: 200%;
    }

    25% {
        background-size: 300%;
    }

    50% {
        background-size: 250%;
    }

    75% {
        background-size: 300%;
    }

    100% {
        background-size: 200%;
    }
}

.animation-six .field {
    width: 820px;
    height: 552px;
    background: url("../images/footballField.jpg") no-repeat;
    position: relative;
}

.animation-six .field img {
    width: 60px;
    height: 60px;
    position: absolute;
    animation-name: ball;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes ball {
    0% {
        left: 6%;
        top: 6%;
    }

    15% {
        left: 27%;
        top: 80%;
    }

    30% {
        left: 48%;
        top: 6%;
    }

    45% {
        left: 59%;
        top: 80%;
    }

    55% {
        left: 90%;
        top: 6%;
    }

    70% {
        left: 48%;
        top: 80%;
    }

    100% {
        left: 6%;
        top: 6%;
        transform: rotate(1500deg);
    }
}

.animation-seven {
    height: 150px;
    border: 1px dashed black;
}

.animation-seven .plane {
    width: 150px;
    height: 150px;
    animation-name: plane;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    position: absolute;
    transition-property: all;
    transition-duration: 1s;
}

@keyframes plane {
    0% {
        left: 0;
    }

    49% {
        transform: scaleX(1);
    }

    50% {
        left: 85%;
        transform: scaleX(-1);
    }

    99% {
        transform: scaleX(-1);
    }

    100% {
        left: 0;
        transform: scaleX(1);
    }
}

#myCanvas {
    background-color: #98c5f6;
}

iframe {
    width: 500px;
    height: 300px;
}

.scene {
    width: 1000px;
    height: 1000px;
    border: 3px solid #98c5f6;
    margin: 0 auto;
    position: relative;
}

.mushroom {
    width: 18px;
    height: 18px;
    background: url('../images/mario_tileset.png') no-repeat 0 0;
    position: absolute;
    left: 0;
    top: 0;
}
