* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-image: url("../public/images/1.gif");
    display: flex;
    flex-direction: column;
    margin: 0;
    color: #ffffff;
    font-family: Verdana, sans-serif;
    height: 100%;
}

/* --------------------------------------------- Header */
header {
    height: 31px;
    background-color: #000000;
    border-bottom: 1px solid #6a4101;
}

header::after {
    content: "";
    clear: both;
    display: block;
}

.logo img {
    margin-top: -1px;
}

.location {
    float: right;
    font-size: 10px;
    padding: 7px 0;
}

.location label {
    margin-right: 20px;
}

.location .country {
    font-size: 12px;
    margin-right: 20px;
}

/* --------------------------------------------- Main */
main {
    width: 719px;
    margin: 0 auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.page {
    background-color: #000000;
    border-left: 1px solid #a36917;
    border-right: 1px solid #a36917;
    position: relative;
    flex-grow: 1;
    padding-bottom: 50px;
}

.navigation-one {
    height: 30px;
    padding: 8px 0 0 0;
    text-align: right;
    font-size: 10px;
}

.navigation-one a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 0 10px 10px;
}

.navigation-one a:hover {
    text-decoration: underline;
}

.navigation-one a:nth-child(1) {
    position: relative;
}

.navigation-one a:nth-child(1)::before {
    content: "";
    background-image: url("../public/images/4.gif");
    display: inline-block;
    width: 19px;
    height: 16px;
    position: absolute;
    left: -22px;
    top: -1px;
}

.navigation-two {
    padding: 6px;
    font-family: "Times New Roman", serif;
}

.navigation-two a {
    padding: 0 37px 0 34px;
    border-left: 1px solid #c59e52;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}

.navigation-two a.active,
.navigation-two a:hover {
    color: #c59e52;
}

.navigation-two a:first-child {
    border: none;
}

.content {
    padding: 10px 16px;
    font-family: Tahoma, sans-serif;
    font-size: 12px;
    color: #cccccc;
}

.content img {
    float: left;
    margin-right: 13px;
}

.content p {
    margin: 0 0 10px 0;
}

.content::after {
    content: "";
    clear: both;
    display: block;
}

.navigation-three {
    padding: 14px 15px;
    font-family: "Times New Roman", serif;
    font-size: 12px;
    position: absolute;
    bottom: 0;
}

.navigation-three a {
    text-decoration: none;
    border-left: 1px solid #d08900;
    padding: 0 3px;
    color: #9f7526;
}

.navigation-three a:first-child {
    border-left: none;
}

.navigation-three a:hover {
    text-decoration: underline;
}

/* --------------------------------------------- Footer */
footer {
    font-size: 10px;
    background-color: #000000;
    border-top: 1px solid #6a4101;
    padding: 10px 4px 10px 30px;
}

footer::after {
    content: "";
    clear: both;
    display: block;
}

.footer-navigation {
    float: right;
}

.footer-navigation a {
    margin-right: 16px;
    color: #ffffff;
    text-decoration: none;
}

.footer-navigation a:hover {
    text-decoration: underline;
}