body {
    font-family: "Times New Roman", serif;
}

/*
    На проекте так же используются

    в header, типы платежных систем, описание товара:
    font-family: Verdana, sans-serif;

    в My Wishlist
    font-family: Arial, sans-serif;

    в footer:
    font-family: Tahoma, sans-serif;
*/