.page {

    .buttons {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        margin-bottom: 10px;

        .btn {
            padding: 5px 10px;
            border-radius: 10px;
            border: 1px solid #022c49;
            width: 150px;
        }
    }

    .content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;

        img {
            width: 250px;
            height: 250px;
            object-fit: cover;
        }
    }
}
