* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: Tahoma, sans-serif;
    background: #535050;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.page {
    width: 784px;
    margin: 0 auto;
    flex-grow: 1;
    padding-bottom: 40px;
}

h3 {
    color: #efcfa5;
    font-weight: normal;
    font-size: 20px;
    margin: 13px 0 5px 3px;
}

p {
    margin: 0;
    color: #f3f3f3;
    line-height: 21px;
}

a {
    color:  #efcfa5;

    &:hover {
        text-decoration: none;
    }
}

@mixin clear-fix {
    content: "";
    display: block;
    clear: both;
}

/* ---------------------------------------- Header */
.header {
    padding-top: 72px;

    .menu {
        display: flex;
        flex-direction: row;

        .link {
            width: 25%;
            height: 164px;
            text-indent: 5000px;
        }

        .link-home {
            background: url("../images/menu_home.png") 14px 83px no-repeat, url("../images/menu_1.gif");
        }

        .link-portfolio {
            background: url("../images/menu_portfolio.png") 18px 83px no-repeat, url("../images/menu_2.gif");
        }

        .link-contacts {
            background: url("../images/menu_contacts.png") 32px 83px no-repeat, url("../images/menu_3.gif");
        }

        .link-pricing {
            background: url("../images/menu_pricing.png") 53px 83px no-repeat, url("../images/menu_4.gif");
        }
    }
}

/* ---------------------------------------- Main */
main {
    &::after {
        @include clear-fix;
    }

    .content-box {
        &:nth-child(odd) {
            float: left;
        }

        &:nth-child(even) {
            float: right;
            margin-right: 3px;
        }
    }

    .content-box-1 {
        width: 471px;
    }

    .content-box-2 {
        width: 283px;
    }

    .content-box-3 {
        width: 425px;
    }

    .content-box-4 {
        width: 334px;
    }

    .content {
        border-top: 6px solid #7e7e7e;
        margin-left: 3px;
        padding: 9px 0 23px 13px;
        background-color: #5f5c5c;
    }

    .column {
        float: left;
    }

    .column-one {
        width: 488px;
        margin-right: 10px;
    }

    .column-two {
        width: 284px;
    }

    .placeholder-picture {
        width: 206px;
        height: 136px;
        border: 5px solid #ede1d2;
        float: left;
        margin: 0 16px 9px 0;
    }

    .project {
        padding-right: 10px;

        &::after {
            @include clear-fix;
        }

        p:first-child {
            margin-bottom: 7px;
        }
    }
}

/*---------------------------------------- Module: Testimonials */
.module-testimonials {
    margin-bottom: -16px;

    h3 {
        color: #90c6dd;
    }

    .content {
        background-color: #535050;
        padding: 13px 0 3px 15px;

        .author {
            font-size: 14px;
            font-weight: bold;
            color: #a1c6dd;
            margin: 0 29px 13px 0;
            text-align: right;
            display: block;
        }

        p {
            font-size: 13px;
            margin-bottom: 13px;
        }
    }
}

/*---------------------------------------- Module: Pricing */
.module-pricing {
    .product {
        width: 469px;
        height: 139px;
        background-image: url("../images/pricing_desk.gif");
        margin: -2px 0 12px -5px;
        padding: 30px 0 0 27px;
        position: relative;

        h2 {
            color: #508b23;
            margin: 0;
            font-weight: normal;
            font-size: 23px;
        }

        .feature {
            color: #6ca83e;
            display: block;
            background: url("../images/dot_ok.png") 13px 3px no-repeat;
            padding-left: 40px;
            font-size: 17px;
        }

        .price {
            position: absolute;
            top: 22px;
            right: 85px;
            font-size: 18px;

            .price-pointer {
                font-size: 32px;
                margin: 4px 0 0 -3px;
                display: block;
            }

            p {
                color: #5a973e;
            }
        }

        button {
            width: 164px;
            height: 45px;
            background: url("../images/purchase.png") -1px 0 no-repeat;
            float: right;
            margin: -15px 32px 0 0px;
            border-radius: 23px;
            border: none;

            &:hover {
                cursor: pointer;
                border: 1px solid #82c054;
            }

            &:focus {
                outline: none;
            }
        }
    }
}

/*---------------------------------------- Module: FAQ */
.module-faq {
    .content {
        font-size: 14px;
        color: #eaf3f3;
        line-height: 20px;
    }

    dt {
        padding: 0 10px 4px 16px;
        margin: 0 0 0 -3px;
        background: url("../images/dot_arrow.gif") 0 4px no-repeat;
        text-decoration: underline;
        color: #a7a7a7;
    }

    dd {
        margin: 0 10px 15px 13px;
    }
}

/*---------------------------------------- Module: Contact us */
.module-contacts {
    margin-left: -5px;

    .field {
        margin-bottom: 9px;

        input {
            width: 200px;
            border: 2px solid #7e7e7e;
            padding: 4px 10px 3px 7px;
            font-size: 15px;
            color: #5f5c5c;
        }
    }

    input,
    textarea {
        &:focus {
            outline: none;
        }
    }

    textarea,
    button {
        font-family: Arial, serif;
        margin-bottom: 6px;
        font-size: 15px;
    }

    textarea {
        width: 469px;
        height: 214px;
        border: 2px solid #7e7e7e;
        color: #5f5c5c;
        padding: 4px 4px 4px 7px;
        resize: vertical;
    }

    button {
        width: 196px;
        border: 2px solid #ffffff;
        background-color: #7e7e7e;
        padding: 3px 3px 1px 3px;

        &:hover {
            background-color: #c0c0c0;
        }
    }
}

/*---------------------------------------- Footer */
footer {
    padding: 10px 10px 25px 10px;
    text-align: center;
    background-color: #585555;
    border-top: 1px solid #4d4a4a;
    font-size: 14px;

    a {
        margin-left: 14px;
    }
}
