.root {
    & .visible {
        display: block !important
    }

    & .invalid {
        border: 2px solid red
    }

    & button {
        border-radius: 7px;
        margin-bottom: 10px;
        border-color: #efdfff;
        color: #706f71
    }

    & button:hover {
        background-color: #d4d3d3;
        cursor: pointer
    }

    & .wrapper {
        width: 500px;
        display: flex;
        flex-direction: row;
        margin: auto
    }

    & .column {
        width: 50%;
        padding: 20px
    }

    & .column::after {
        clear: both;
        display: block;
        content: ''
    }

    & .whoreList,
    & form {
        background-color: #bfd9f5;
        border-radius: 10px;
        padding: 20px
    }

    & .whoreList {
        clear: both
    }

    & form input {
        margin-bottom: 10px
    }

    & form input:focus {
        outline: none
    }

    & form .button-save,
    & form .button-update {
        float: right;
        display: none
    }

    & form .button-delete {
        float: left;
        display: none
    }

    & form::after {
        content: "";
        clear: both;
        display: block
    }

    & .whore-alias,
    & .whore-age,
    & .whore-price {
        display: inline-block
    }

    & .whore:hover {
        text-decoration: underline;
        cursor: pointer
    }
}