* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

button {
    border-radius: 7px;
    margin-bottom: 10px;
    border-color: #efdfff;
    color: #706f71;

    &:hover {
        background-color: #d4d3d3;
        cursor: pointer;
    }
}

.wrapper {
    width: 500px;
    display: flex;
    flex-direction: row;
    margin: auto;
}

.column {
    width: 50%;
    padding: 20px;

    &::after {
        clear: both;
        display: block;
        content: '';
    }
}

.whore-list,
form {
    background-color: #bfd9f5;
    border-radius: 10px;
    padding: 20px;
}

.whore-list {
    clear: both;
}

.button-add,
.button-save,
.button-update {
    float: right;
}

.button-delete,
.button-update {
    display: none;
}

form {
    display: none;

    input {
        margin-bottom: 10px;

        &:focus {
            outline: none;
        }
    }
}

.whore-alias,
.whore-age,
.whore-price {
    display: inline-block;
}

.whore {
    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}


