.games {
    @nest :global(.desktop) & {
        display: grid;
        gap: 5px;
        grid-template-columns: repeat(2, 1fr);

        @media screen and (min-width: 900px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media screen and (min-width: 1200px) {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}

.game {
    @nest :global(.desktop) & {
        display: grid;
    }

    @nest :global(.mobile) &, :global(.tablet) & {
        &:nth-child(even) {
            background-color: #b9ced9;
        }
    }

    & img {
        width: 100%;
        object-fit: cover;
        aspect-ratio: 1 / 1;
    }
}
