* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: "Times New Roman", serif;
    background-image: url("../images/background.gif");
    display: flex;
    flex-direction: column;
    margin: 0;
}

.page {
    width: 739px;
    margin: 0 auto;
    flex-grow: 1;
    padding: 20px 0 69px 0;
}

a:hover {
    text-decoration: none;
}

button {
    cursor: pointer;
}

@mixin button ($margin){
    width: 323px;
    height: 34px;
    background: url("../images/button.gif") no-repeat;
    color: #c29a31;
    border: none;
    padding: 0 0 2px 40px;
    margin: $margin;
    font-family: "Times New Roman", serif;
    font-size: 14px;
}

@mixin clear-fix {
    &::after {
        content: "";
        display: block;
        clear: both;
    }
}

input,
select:focus {
    outline: none;
}

/* ---------------------------------------- Header */
.header {
    border-bottom: 1px solid #6a4101;
    font-family: Verdana, sans-serif;
    font-size: 11px;
    color: #c69b3c;
    background-color: #200004;
    width: 100%;
    margin: 0;
    @include clear-fix;

    a {
        color: #c69b3c;
    }

    .logo {
        float: left;

        img {
            display: block;
        }
    }

    .settings {
        float: right;
        margin-top: 8px;

        span {
            padding-left: 6px;
            border-left: 1px solid #c69b3c;
            display: inline-block;
        }

        a {
            margin-right: 15px;
        }

        button {
            border: none;
            background-color: #000000;
            color: #ffffff;
            border-bottom: 1px dashed #ffffff;
            font-size: 12px;
            margin-right: 10px;
            padding: 0;
        }
    }

    span {
        display: inline-block;
        margin-top: 8px;
    }
}

/* ---------------------------------------- Content */
.content {
    background-color: #ffffff;
    padding: 7px;
}

/* ---------------------------------------- Module: Banner */
.module-banner {
    background: #3a0201 url("../images/banner.gif") 206px 10px no-repeat;
    height: 100px;
    margin-bottom: 6px;
    position: relative;

    .portrait {
        position: absolute;
        width: 95px;
        height: 116px;
        background-image: url("../images/portrait.png");
        top: 6px;
        right: 70px;
    }
}

/* ---------------------------------------- Module: Navigation */
.module-navigation {
    padding: 28px 0 0 121px;
    height: 92px;
    @include clear-fix;

    .step {/* TODO: текст может меняться */
        color: #fff8b7;
        text-decoration: none;
        padding: 28px 0 20px 0;
        font-size: 14px;
        font-weight: bold;
        float: left;

        &:nth-child(1) {
            margin-right: 75px;
        }

        &:nth-child(2) {
            margin-right: 84px;
        }

        &:nth-child(3) {
            margin-right: 100px;
        }
    }

    .step-1 {
        background: url("../images/step1.gif") center 0 no-repeat;

        &.active {
            background-image: url("../images/step-active1.gif");
        }
    }

    .step-2 {
        background: url("../images/step2.gif") center 0 no-repeat;

        &.active {
            background-image: url("../images/step-active2.gif");
        }
    }

    .step-3 {
        background: url("../images/step3.gif") center 0 no-repeat;

        &.active {
            background-image: url("../images/step-active3.gif");
        }
    }

    .step-4 {
        background: url("../images/step4.gif") 0 0 no-repeat;

        &.active {
            background: url("../images/step-active4.gif") 0 0 no-repeat;
        }
    }
}

.module-navigation-1 {
    background: #3f0803 url("../images/step-arrow1.gif") 53px 75px no-repeat;
}

.module-navigation-2 {
    background: #3f0803 url("../images/step-arrow2.gif") 55px 74px no-repeat;
}

.module-navigation-3 {
    background: #3f0803 url("../images/step-arrow3.gif") 55px 74px no-repeat;
}

.module-navigation-4 {
    background: #3f0803 url("../images/step-arrow4.gif") 55px 74px no-repeat;
}

/* ---------------------------------------- Module: Forms */
.module-forms {
    width: 500px;
    margin: 0 auto;
    padding: 39px 0 0 0;
    position: relative;

    h3 {
        color: #c38b1a;
        text-transform: uppercase;
        font-size: 14px;
        text-align: center;
        margin: 0 113px 33px 0;
    }

    .enter {
        min-width: 123px;
        height: 34px;
        background: url("../images/sign-in.gif") no-repeat;
        display: block;
        position: absolute;
        top: 30px;
        right: 85px;
        color: #c38b1a;
        text-align: right;
        padding: 7px 18px 0 0;
        font-size: 14px;
        font-weight: bold;
    }

    h4 {
        font-size: 17px;
        margin: 0 0 11px 50px;
        color: #370000;
        text-align: center;
    }

    form {
        text-align: right;
        font-size: 13px;
        color: #694040;
        font-weight: bold;
        padding-right: 28px;
        margin-bottom: 40px;

        .field {
            margin-bottom: 10px;
        }

        label {
            margin-right: 29px;
            font-size: 12px;
        }

        input {
            width: 255px;
            height: 22px;
            border: 1px solid #a9a9a9;
        }

        select {
            border: 1px solid #a9a9a9;
            font-family: "Times New Roman", serif;
            color: #814040;
        }

        .star {
            position: relative;
            left: 15px;
        }

        #product {
            margin-right: 205px;
        }

        #district {
            margin-right: 123px;
            width: 132px;
        }

        #country {
            width: 193px;
            margin-right: 62px;
        }

        .proceed {
            @include button(20px 34px 0 0);
        }
    }
}

/* ---------------------------------------- Module: Guarantee */
.module-guarantee {
    padding: 5px 0 1px 25px;
    background-color: #e7e8b0;
    position: relative;
    @include clear-fix;

    a {
        float: left;
    }

    & a:nth-child(1) {
        margin-right: 26px;
        margin-top: 3px;
    }

    & a:nth-child(2) {
        margin-top: 1px;
        margin-right: 14px;
    }

    & a:nth-child(3) {
        margin: 6px 14px 0 0;
    }

    .seal {
        position: absolute;
        right: 14px;
        top: -36px;
        width: 99px;
        height: 101px;
    }
}

/* ---------------------------------------- Module: Wishlist */
.module-wishlist {
    font-family: Arial, sans-serif;
    background-color: #2d0202;
    position:fixed;
    bottom: 0;
    border-top: 1px solid #c69b3c;
    width: 100%;
    height: 32px;
    padding: 8px 5px 0 5px;
    font-size: 12px;
    color: #c69b3c;
    @include clear-fix;

    h3 {
        margin: -3px 60px 0 0;
        float: left;
        font-size: 18px;
        font-family: "Times New Roman", serif;
    }

    form {
        display: inline-block;

        input {
            margin: 0 14px 0 5px;
            width: 163px;
            height: 16px;
        }

        button {
            color: #c69b3c;
            background-color: #2d0202;
            border: none;
            padding: 0;
            text-decoration: underline;
            font-size: 12px;
        }
    }

    .folding {
        float: right;

        button {
            color: #c69b3c;
            background-color: #2d0202;
            border: none;
            text-decoration: underline;
            font-size: 12px;
            vertical-align: 3px;
            margin-right: -5px;
        }

        .wrapper-arrow {
            display: inline-block;
            padding: 6px;
            background-color: #550000;

            &:hover {
                background-color: #704141;
            }
        }

        .arrow {
            width: 0;
            height: 0;
            border: 4px solid transparent;
            border-bottom-color: #ffffff;
            border-top: 0;
        }
    }
}

/* ---------------------------------------- Module: Payment */
.module-payment {
    width: 551px;
    padding: 51px 0 0 37px;
    margin-bottom: 17px;
    @include clear-fix;

    p {
        color: #370000;
        display: inline-block;
        margin: 6px 0 0 0;
        font-weight: bold;
    }

    form {
        float: right;
        font-family: Tahoma, sans-serif;

        .field {
            border-bottom: 1px solid #dddddd;
            width: 240px;
            height: 36px;
            padding: 8px 0 0 51px;
            margin-left: 29px;

            &:nth-child(1) {
                background: url("../images/visa.gif") 3px 7px no-repeat;
            }

            &:nth-child(2) {
                background: url("../images/master-card.gif") 2px 6px no-repeat;
            }

            &:nth-child(3) {
                background: url("../images/american-express.gif") 7px 5px no-repeat;
            }

            &:nth-child(4) {
                background: url("../images/dinners-club.gif") 6px 8px no-repeat;
            }

            &:nth-child(5) {
                background: url("../images/paypal.gif") 0 12px no-repeat;
            }
        }

        label {
            margin-left: 10px;
            font-size: 12px;
            font-weight: bold;
        }

        .proceed {
            @include button(26px 0 0 0)
        }
    }
}

/* ---------------------------------------- Module: Items */
.module-items {
    font-family: Helvetica, sans-serif;
    margin-bottom: 17px;

    h3 {
        text-align: center;
        margin: 0 0 8px 0;
        font-size: 16px;
        color: #370000;
    }

    .items {
        width: 411px;
        border: 1px solid #b09a68;
        margin: 0 auto;

        .items-ribbon {
            background-color: #540000;
            color: #fff1e1;
            font-size: 12px;
            padding: 3px 24px 1px 15px;
            font-family: "Times New Roman", serif;

            & :nth-child(2) {
                margin-left: 56px;
            }

            & :nth-child(3) {
                margin-left: 86px;
            }

            & :nth-child(4) {
                margin-left: 42px;
            }
        }

        .item {
            display: flex;
            flex-direction: row;
            position: relative;
        }

        .item-element {
            padding-top: 15px;
            width: 50%;

            &::after {
                content: "";
                display: block;
                clear: both;
            }

            img {
                margin: 0 17px 15px 17px;
                float: left;
            }

            p {
                font-size: 11px;
                color: #d09f5e;
                margin: 0 0 8px 0;
            }

            span {
                font-size: 12px;
                font-weight: bold;
            }

            .quantity {
                margin-left: 87px;
            }

            .price {
                margin-left: 53px;
            }

            .delivery {
                position: absolute;
                bottom: 0;
                right: 0;
                padding: 0 10px 5px 30px;
                background: url("../images/arrow-down.gif") 2px 1px no-repeat;
            }

            a {
                color: #dec88f;
                font-size: 14px;
                text-decoration: none;
            }
        }
    }
}

/* ---------------------------------------- Module: Your Contact */
.module-your-contact {
    padding: 15px 0 0 20px;
    font-size: 15px;
    color: #550000;

    h3 {
        margin: 0;
        font-size: 15px;
    }

    a {
        background-image: url("../images/button1.gif");
        width: 186px;
        height: 34px;
        color: #cba33a;
        text-decoration: none;
        display: block;
        margin: 12px 0 0 -3px;
        padding: 8px 0 0 43px;
        font-size: 14px;
    }
}

/* ---------------------------------------- Module: Completion */
.module-completion {
    text-align: center;
    width: 400px;
    margin: 0 auto 21px auto;
    font-weight: bold;
    color: #370000;
    @include clear-fix;

    h3 {
        font-size: 16px;
        margin-bottom: 20px;
    }

    p {
        font-size: 13px;
        margin-bottom: 16px;

        &:nth-child(2) {
            font-size: 16px;
            margin-bottom: 28px;
        }
    }

    a {
        color: #370000;
    }

    button:nth-child(5) {
        width: 203px;
        height: 34px;
        background-image: url("../images/button3.gif");
        border: none;
        color: #c29a31;
        margin: -4px 0 0 7px;
        float: left;
        padding: 0 0 3px 28px;
    }

    button:nth-child(6) {
        width: 186px;
        height: 34px;
        background-image: url("../images/button4.gif");
        border: none;
        color: #cba33a;
        float: right;
        padding: 0 0 3px 28px;
        margin: -4px -2px 0 0;
    }
}

/* ---------------------------------------- Box-containers */
.box-container-1 {
    width: 250px;
    float: left;
}

.box-container-2 {
    width: 420px;
    float: right;
    padding: 15px 0 0 0;
    margin-right: 15px;
}

.box-container-3 {
    clear: both;
    padding-top: 21px;
    text-align: center;
    color: #772020;
    margin-bottom: 51px;
    position: relative;

    .visa {
        position: absolute;
        background: url("../images/visa2.gif");
        top: -6px;
        left: 310px;
        width: 31px;
        height: 19px;
    }

    form {
        font-size: 14px;

        .field {
            margin-bottom: 5px;
            text-align: right;
        }

        label {
            font-weight: bold;
            vertical-align: 2px;
            margin-right: 20px;
        }

        input {
            width: 255px;
            height: 22px;
            border: 1px solid #a9a9a9;
            margin-right: 107px;
        }

        select {
            border: 1px solid #a9a9a9;
            margin-bottom: 5px;
            color: #772020;
            font-size: 12px;
        }

        p {
            font-size: 12px;
            padding: 0 13px;
            margin: 28px 0 30px 0;
        }

        .field-data {
            padding-right: 113px;
        }

        .field-code-card {
            padding-right: 187px;

            a {
                color: #772020;
                font-size: 12px;
            }
        }

        #code-card {
            width: 101px;
            height: 22px;
            border: 1px solid #a9a9a9;
            margin-right: 9px;
        }

        button {
            width: 324px;
            height: 34px;
            background-image: url("../images/button2.gif");
            border: none;
            color: #c29a31;
            font-family: "Times New Roman", serif;
            padding: 0 0 3px 14px;
            font-size: 14px;
        }
    }
}

/* ---------------------------------------- Footer */
.footer {
    font-family: Tahoma, sans-serif;
    padding: 8px 0 39px 0;
    border-top: 1px solid #6a4101;
    font-size: 11px;
    color: #c69b3c;
    background-color: #200004;
    width: 100%;
    margin: 0;
    @include clear-fix;

    span {
        margin-left: 36px;
    }

    .navigation {
        float: right;

        a {
            padding: 0 10px 0 10px;
            border-left: 1px solid #965909;
            color: #c69b3c;
        }

        & a:first-child {
            border-left: none;
        }
    }
}
