.st-module-12-replacer {
    .container {
        height: 500px;
        border: 1px solid red;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .circle {
        border-radius: 50%;
        position: relative;
    }
}
